

p{
    font-size: large;
}

header{
    background-color: #caffdc;
}

nav{
    background-color: #41BA74;
    display: flex;
}

a{
    margin-top: 25px;
    color: black;
    text-decoration: none;
}

button{
    background-color:#467853;
    color: white;
    width: 150px;
    height: 50px;
    border-radius: 25%;
    outline: solid 1px;
}

.box{
    display: flex;
    justify-content: space-around;
    margin-left: 50%;
    width: 110%;
}

img{
    width:  500px;
    height: 400px;
}

header{
    display: flex;
    justify-content:space-around;
}

@media (max-width:500px) {
    h1{
        font-size:small;
    }
    p{
    font-size:x-small;
    }
    nav{
        width: 100%;
    }
    img{
        width:  50%;
        height: 50%;
    }
    button{
    width: 70px;
    height: 25px;
    font-size: xx-small;
    }
    .box{
    margin-left: 0%;
    }
}
